# R created files
*.Rproj
*.Rproj.user
*.Rhistory
*.Ruserdata
*.history
*.RData

# Image/output files unless otherwise specified 
# (.png files not included because used in experiment)
*.docx
*.doc
*.jpg
*.gif

# Misc Knit Files
*.aux
*.gz
*.log
*.rdx
*.rdb
*.knit.md
*cache
*.results

# Other
*.httr-oauth
*.DS_Store
*auth.json # Crucial that this is never pushed to github!

# Specific file keep
!README.md
!/original_paper/Zhao2016.pdf
